/*Simple CSS reset for items we will use JUST for this example.
Please use full reset when designing!
Reseting the margin and padding is important for the body tag so the
header and footer will hug the whole screen.*/

body, html {
	margin:0;
	padding:0;}

/*Just visual styles*/
body {
background: url(../images/bg-paperOnly.jpg) top left repeat;
	font: 15px/1.2 Arial,sans-serif;
	color: #505050;
	}

/*Our full length header.
We align the text center so it shows up in the middle.
If you prefer you could right or left align it.*/
.header {

	padding-top: 20px;
        height: 270px;
        min-width: 900px;
	}

 .main {
        min-width: 900px;
	}

/*Center Content*/
.container_head {
    background: url(../images/tear_top.png) #fff repeat-x;
    background-color: #fff;
	margin:0 auto;
	width:900px;
        padding: 20px 40px 20px 40px;
	}

.container_main {
    background-color: #fff;
	margin:0 auto;
	width:900px;
        padding: 20px 40px 20px 40px;
	}

#container_main {
        min-height:505px;
}

.container_footer {
background-color: #fff;
	margin:0 auto;
	width:900px;
        padding: 0px 40px 20px 40px;
        text-align: left;
	}

/*Full width footer*/
.footer {
	text-align:center;
	}

/*These are just styles used for the example for the content.*/
.container_sub_left {
	width:650px;
	background:#fff;
	}

.container_sub_right {
        float: right;
	width:200px;
	background:#fff;
        clear: both;
        margin-bottom: 40px;
	}

.left p, .right p {
	padding:10px;
	}

/*If you are going to use floats then you will NEED to clear the
footer so it doesn't bunch the content up*/
.clear {clear:both;}

img {
  outline: 0 none;
  border: 0px;
}

.header img {
  padding-bottom: 1em;
}

#fb_footer img {
    border: 0px;
    float: right;
    clear: both;
}

#fb_footer {
    padding: 10px;
    float: right;
    clear: right;
}

#eightacross_footer{
    float: right;
}

#blog_footer {
    padding: 10px;
    float: left;
    clear: left;
    text-align: left;
}

#copy_footer {
    background: url(../images/concept_bg_V1.gif) top left repeat-x;
    padding: 40px 10px 10px 10px;
}

section {
  color: #555;
  padding-bottom: 10px;
  padding-top: 0px;
}

section h1 {
  margin: 0px;
  padding-top: 0px;
  color: #999999;
  border-bottom: 3px solid #C7ED37;
}

section h2 {
  color:#999999;
  border-bottom: solid 3px #ddd;
  padding-top: 0px;
  margin: 0px;
}

/* Links */

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: #555555;
  text-decoration: underline;
}

a:visited {
  color: #555555;
}

.info_head {
  color:#999999;
  border-bottom: solid 3px #ddd;
  padding: 5px 10px 5px 10px;
  margin: 0;
}

.info_list {
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;
	border-bottom: solid 1px #c7ed37;
}

.info_list li {
    list-style-type:none;
    padding: 5px;
}


/* Navigation */

.nav {
  height:50px;
  line-height:50px;
}

.nav ul {
  margin:0;
  padding:0;
  text-align: center;
}

.nav li {
  float:right;
  margin:0;
  padding:0;
  list-style-type:none;
  border-left:3px solid;
  white-space:nowrap;
}

.nav li a {
  display:block;
  padding:0 12px;
  font-size:1.8em;
  letter-spacing:1px;
}

.nav {background: url(../images/concept_bg_V1.gif) top left repeat;}

.nav li {border-color:white;}

.nav a {color:white;}

.nav .selected
{}
.nav a:hover
  {}

.nav form {
  border-color:white;
  background:#DCDDDE url(../images/onef/corner_bottom_right.gif) bottom right no-repeat;
}

.nav #s {;}

.nav .searchbutton {
  color:white;

}


#home_page a#home_nav, #about_page a#about_nav, #products_page_page a#products_page_nav,
#contact_page a#contact_nav, #admin_page a#admin_nav{
  font-weight: bold;
  background-image: url(../images/shade.png);
}

a#home_nav {
  width: 80px;
}
a#about_nav {
  width: 83px;
}
a#products_page_nav {
  width: 127px;
}
a#contact_nav {
  width: 107px;
}


table {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

th {
    text-align: left;
    vertical-align: text-top;
    border-bottom: 3px solid #DDDDDD;
    color: #999999;
    padding: 2px 10px 6px 10px;
}

td {
    vertical-align: text-top;
    border-bottom: 1px solid #C7ED37;
    color: #505050;
    padding: 2px 2px 2px 10px;
}

.product_browse {
   width: 100%;
}


.cat_nav {
    margin: 0px;
    padding: 0px;

}

.cat_nav ul {
  margin:0;
  padding:0;
}

.cat_nav li {
  margin:2px;
  padding:2px 3px 0px 3px;
  list-style-type:none;
  border: solid 1px #C7ED37;
  white-space:nowrap;
  display: inline-block;
}

.cat_nav li a {
  display:block;
  font-size:12px;
  letter-spacing:1px;
}

.sup_cat_nav {
    margin: 0px;
    padding: 0px;

}

.sup_cat_nav ul {
  margin:0;
  padding:0;
}

.sup_cat_nav li {
  margin:2px 0px 2px 1px;
  list-style-type:none;
  white-space:nowrap;
  display: inline-block;
  text-align: center;
  background-color: #eee;
  background: url(../images/concept_bg_V1.gif) top left repeat;
}

.sup_cat_nav li a {
  color: #fff;
  display:block;
  width: 204px;
  font-weight: bold;
  padding: 4px;
}

sup_cat_nav a:hover
{
    color: #ffffff;
    background-color: #ddd;
}


.selected a{
    font-weight: bold;
    font-size: 14px;
    background-image: url(../images/shade.png);
}

li.selected {
  background-color: #C7ED37;
  color: #fff;
}

#customer_services {
    margin-left: 5px;
    padding-left: 5px;
}

.pagination {
    text-align: center;
    width: 100%;
    height: 25px;
    margin-top: 5px;
}

.pagination a{
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 3px 7px 4px 7px;
    min-width: 20px;
}

.pagination span{
    color: #ccc;
    background: none repeat scroll 0 0 #f7f7f7;
    padding: 3px 7px 4px 7px;
    min-width: 20px;
}
.pagination em{
    color: #ccc;
    background: none repeat scroll 0 0 #f7f7f7;
    padding: 3px 7px 2px 7px;
    min-width: 20px;
    border-bottom: solid 2px #999;
}


.previous_page {
    float:left;
}

.next_page {
    float:right;
}