<h1>About S.Hukin ltd and our products and services.</h1>
<p>
  Our customers have been coming to us for generations because they trust
  us and know they can get quality produce at the best value time and
  time again. We are proud to have formed relationships and personally
  know a lot of our customers.
</p>
<p>
  We supply a range of businesses, from Bakers, Cafes, Restaurants, Sandwich
  shops to Individuals wishing to purchase some quality ingredients
  at great value prices.
</p>
<p>
  We stock many products including a large range of bakery and confectionary
  supplies, please see our products page to view a large selection of our
  products.
</p>
<p>
  Our experienced team can deliver your order to your door. Please
  <%= link_to "contact us", contact_path %> to find out more about what we can offer you.
</p>


