<%= render "sessions/sign_in_out" %>

<% if  signed_in? %>
<table>
  <tr>
    <td>
      <%= link_to 'Products', products_path %> |
    </td>
    <td>
      <%= link_to 'Manufacturers', manufacturers_path %> |
    </td>
  </tr>
</table>
<% end %>
