<%= link_to "Sign up now!", signup_path %>
<table>
  <tr>
    <td>
      <%= link_to 'Products', products_path %> |
    </td>
    <td>
      <%= link_to 'Manufacturers', manufacturers_path %> |
    </td>
  </tr>
</table>
