<div id="home_main" style="height: 488px; width: 688px; background-image:url('/images/main_pic_3.0.jpg')">
<div style="background-image: url('/images/shade2.png'); width: 550px; height: 160px; left: 0px; position: relative; top: 0px;">
  <div style="padding:15px; font-weight: bold; color: #fffaf6; font-size: 36px;">
  Supplying local businesses <br/>
  with quality wholesale food<br/>
  produce since 1877.
  </div>
</div>
<div style="background-image: url('/images/shade3.png'); position: relative; top: 67px; width: 485px; left: 203px; height: 115px;">
  <div style="padding:15px; font-weight: bold; color: #ffdfcb; font-size: 36px; text-align: right">
  We deliver direct to your<br/>
  door 7 days a week.
  </div>
</div>
<div style="background-image: url('/images/shade3.png'); width: 606px; position: relative; top: 89px; height: 109px; left: 0px;">
  <div style="padding:15px; font-weight: bold; color: #ffdfcb; font-size: 36px;">
    <a href="contact" style="color: #FFDFCB;">Get in touch to find out more<br/>
   about our products and services.</a>
  </div>
</div>
</div>
