<h1>Welcome to S.Hukin ltd!</h1>
<p>
  S.Hukin ltd is situated in the heart of Sheffield, we are wholesale food
  specialists who have been supplying local businesses with ingredients
  since 1874.
 </p>
 <p>
  S.Hukin ltd is a family run business that has unparalled
  industry knowledge and understanding of our customer’s needs.
  <%= link_to "Learn more about us here.", about_path, :id => "about_nav" %>
  
</p>
<p>
  <%= photo_bread %>
</p>