<h1>Our Products</h1>
<p>
  We stock products from quality manufactures including, Renshaw, Bakemark,
  Culpitt, Puratos, Macphie, Bradshaws, Morley, Britannia, Ingram,
  Surafti, Tate & Lyle and many more.
</p>

<%= render 'shared/sup_cat_browse' %>

<p>
  Products in our <%= @sup_cat_name%> range:
  <%= render 'products/browse' %>
</p>
