<h1>Our Products</h1>
<p>
  We stock products from quality manufactures including, Renshaw, Bakemark,
  Culpitt, Puratos, Macphie, Bradshaws, Morley, Britannia, Ingram,
  Surafti, Tate & Lyle and many more.
</p>

  <%= render 'categories/browse' %>

<div class="clear"></div>
<p>
  Products in our <%= @current_cat.name%> range:
  <%= render 'products/browse' %>
</p>
