<h2 class="info_head">
  Products
</h2>
<ul class="info_list">
  <li><%= link_to "Baking Products", products_page_path(:id => $baking_categories) %></li>
  <li><%= link_to "Confectionaries", products_page_path(:id => $confectionary_categories) %></li>
  <li><%= link_to "Whole foods", products_page_path(:id => $whole_food_categories) %></li>
  <li><%= link_to "Dried Fruits", products_page_path(:id => $dried_fruits_categoies) %></li>
</ul>